{% extends '::layout.html.twig' %}

{% block banner %} 
            <p>Seccion 2</p>
{% endblock %}

{% block contenido %}
               <h2>Seccion 2</h2>
                {{ include('AppBundle::tabla.html.twig')}}
               <p>Aca vamos a ir mostrando el contenido de la sección 1</p>
               <p><a class="btn btn-default" href="#" role="button">Ver Detalles &raquo;</a></p>
{% endblock %}
